@media screen and (max-width: 375px) {
// Tags that are not needed
.hero-desktop {
  display: none;
}

// Logo styles
nav {
  margin: 30px;
  
  img {
    width: 100px;
  }
}

// Image styles
.image {
  background-image: url(/docs/images/hero-mobile.jpg);
  height: 250px;
}
  
// Main text styles
main {
  text-align: center;
  margin: 40px;

  // Header tag styles
  h1 {
    font-size: 2.5rem;
    letter-spacing: .3rem;
    font-weight: 300;
    margin-bottom: 20px;

    strong {
      font-size: 2.5rem;
      letter-spacing: .3rem;
      color: black;
    }
  }

  // Paragraph tag styles
  p {
    font-size: .8rem;
    font-weight: 600;
    line-height: 1.5;
  }

  // Email address styles
  input {
    width: 70vw;
    margin-top: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 40px;
    padding-left: 20px;
    outline: none;

    &::placeholder {
      font-size: .8rem;
      font-weight: 600;
      color: $desaturatedRed;
    }
  }
}
}