// Imported SCSS files
@import 'variables';
@import 'mobile';
@import 'desktop';

// Global Styles
* {
  font-size: 16px;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: $desaturatedRed;
}

footer {
  display: none;
}