@media screen and (max-width: 375px) {
  .hero-desktop {
    display: none;
  }
  nav {
    margin: 30px;
  }
  nav img {
    width: 100px;
  }
  .image {
    background-image: url(/docs/images/hero-mobile.jpg);
    height: 250px;
  }
  main {
    text-align: center;
    margin: 40px;
  }
  main h1 {
    font-size: 2.5rem;
    letter-spacing: .3rem;
    font-weight: 300;
    margin-bottom: 20px;
  }
  main h1 strong {
    font-size: 2.5rem;
    letter-spacing: .3rem;
    color: black;
  }
  main p {
    font-size: .8rem;
    font-weight: 600;
    line-height: 1.5;
  }
  main input {
    width: 70vw;
    margin-top: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 40px;
    padding-left: 20px;
    outline: none;
  }
  main input::-webkit-input-placeholder {
    font-size: .8rem;
    font-weight: 600;
    color: #ce9797;
  }
  main input:-ms-input-placeholder {
    font-size: .8rem;
    font-weight: 600;
    color: #ce9797;
  }
  main input::-ms-input-placeholder {
    font-size: .8rem;
    font-weight: 600;
    color: #ce9797;
  }
  main input::placeholder {
    font-size: .8rem;
    font-weight: 600;
    color: #ce9797;
  }
}

@media screen and (min-width: 900px) {
  main {
    display: none;
  }
}

* {
  font-size: 16px;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: #ce9797;
}

footer {
  display: none;
}
/*# sourceMappingURL=style.css.map */